
:root {
  --sidebarWidth: 60px; 
}

.DayForecast{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: absolute;
  height: 100dvh;
  /* min-height: 1000px;
  max-height: auto; */
  margin-left: calc(var(--sidebarWidth));
  width: calc(100dvw - var(--sidebarWidth));
  /* overflow: scroll; */
  /* outline: dotted red; */
}

.active{
  --sidebarWidth: fit-content;
  z-index: 1;

}

.sidebar{
  display: flex;
  width: var(--sidebarWidth);
  height: 100dvh;
  /* position: absolute; */
  /* outline: solid green; */
}

.App{
  display: flex;
  outline: dotted yellow;
  position : relative;
  height: 100dvh;
  width: 100dvw;
}


@media (max-width: 1000px){
  .DayForecast{
      flex-direction: column;
      justify-content: space-evenly;
  }
}